USE [master]
GO
/****** Object:  Database [PRUEBA]    Script Date: 06-mar-22 5:02:34 PM ******/
CREATE DATABASE [PRUEBA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRUEBA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRUEBA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRUEBA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRUEBA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRUEBA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRUEBA]
GO
/****** Object:  User [PRUEBA]    Script Date: 06-mar-22 5:02:35 PM ******/
CREATE USER [PRUEBA] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [carvajal]    Script Date: 06-mar-22 5:02:35 PM ******/
CREATE USER [carvajal] FOR LOGIN [carvajal] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [PRUEBA]
GO
ALTER ROLE [db_owner] ADD MEMBER [carvajal]
GO
/****** Object:  Table [dbo].[LOGEO]    Script Date: 06-mar-22 5:02:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGEO](
	[USURIO] [varchar](100) NULL,
	[CONTRASEÑA] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VUELOS]    Script Date: 06-mar-22 5:02:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VUELOS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NUMERODEVUELO] [varchar](100) NOT NULL,
	[AEROLINEA] [varchar](100) NULL,
	[ORIGEN] [varchar](100) NULL,
	[DESTINO] [varchar](100) NULL,
	[FECHA] [varchar](100) NULL,
	[HORASALIDA] [varchar](100) NULL,
	[HORALLEGADA] [varchar](100) NULL,
	[ESTADODEVUELO] [varchar](100) NULL,
 CONSTRAINT [PK__VUELOS__3213E83FF68CED48] PRIMARY KEY CLUSTERED 
(
	[NUMERODEVUELO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LOGEO] ([USURIO], [CONTRASEÑA]) VALUES (N'CARVAJAL', N'123')
GO
SET IDENTITY_INSERT [dbo].[VUELOS] ON 

INSERT [dbo].[VUELOS] ([id], [NUMERODEVUELO], [AEROLINEA], [ORIGEN], [DESTINO], [FECHA], [HORASALIDA], [HORALLEGADA], [ESTADODEVUELO]) VALUES (15, N'dedf', N'wefw', N'dfgv', N'sdfgef', N'06/49/2022', N'04:49:54', N'04:49:54', N'Finalizado')
INSERT [dbo].[VUELOS] ([id], [NUMERODEVUELO], [AEROLINEA], [ORIGEN], [DESTINO], [FECHA], [HORASALIDA], [HORALLEGADA], [ESTADODEVUELO]) VALUES (12, N'ds', N'dsfvs', N'sdf', N'few', N'06/43/2022', N'04:43:45', N'04:43:45', N'')
INSERT [dbo].[VUELOS] ([id], [NUMERODEVUELO], [AEROLINEA], [ORIGEN], [DESTINO], [FECHA], [HORASALIDA], [HORALLEGADA], [ESTADODEVUELO]) VALUES (16, N'DSFVDS', N'DSGVFSD', N'DGS', N'SDFGSG', N'25/51/2029', N'06:01:02', N'02:15:05', N'Proceso')
SET IDENTITY_INSERT [dbo].[VUELOS] OFF
GO
USE [master]
GO
